{% load i18n satchmo_category satchmo_google satchmo_util satchmo_currency satchmo_discounts app_plugins normalize_decimal %}
{% comment %}

	You can use these possible variables:
		- categories: standard Satchmo products query set, there are only 'get_absolute_url' methods patched
		- instance.title: some aditional varchar defined in admin (e.g. if you want use string "View this super category listing" and not the default title "Category listing")
		- instance.style: for some CSS cusomization

{% endcomment %}
{% with style=instance.style title=instance.title %}
<h2>{% if title %}{{ title }}{% else %}{% trans "Categories listing" %}{% endif %}</h2>
<ul{% if style %} class="{{ style }}"{% endif %}>
{% for category in categories %}
	<li><a href="{{ category.get_absolute_url }}" title="{{ category.translated_name }}">{{ category.translated_name }}</a></li>
{% endfor %}
</ul>
{% endwith %}
