{% load i18n satchmo_category satchmo_google satchmo_util satchmo_currency satchmo_discounts app_plugins normalize_decimal %}
{% comment %}

	You can use these possible variables:
		- instance.category: standard Satchmo category instance
		- instance.get_absolute_url: absolute URL of the category
		- instance.title: some aditional varchar defined in admin (e.g. if you want use string "View this super category" and not the original category name)
		- instance.style: for some CSS cusomization

{% endcomment %}
{% with category=instance.category title=instance.title style=instance.style %}
<h3{% if style %} class="{{ style }}"{% endif %}>{% if title %}{{ title }}{% else %}{{ category.translated_name|capfirst }}{% endif %}</h3>
<p>
	{{ category.translated_short_description|safe }}
	<a href="{{ instance.get_absolute_url }}" title="More">More</a>
</p>
{% endwith %}
