{% load i18n satchmo_category satchmo_google satchmo_util satchmo_currency satchmo_discounts app_plugins normalize_decimal %}
{% comment %}

	You can use these possible variables:
		- products: standard Satchmo products query set, there are only 'get_absolute_url' methods patched
		- instance.list_type: type of product listing (recent, bestsellers or featured), see cmsplugin_satchmo/models.py
		- instance.title: some aditional varchar defined in admin (e.g. if you want use string "View this super products listing" and not the default title "Products listing")
		- instance.style: for some CSS cusomization

{% endcomment %}
{% with style=instance.style title=instance.title %}
<h2>{% if title %}{{ title }}{% else %}{% trans "Products listing" %}{% endif %}</h2>
<ul{% if style %} class="{{ style }}"{% endif %}>
{% for product in products %}
	<li><a href="{{ product.get_absolute_url }}" title="{{ product.translated_name }}">{{ product.translated_name }}</a>
	<span class="price">({{ product|discount_price:''|floatformat:0 }} {{ currency_symbol }})</span></li>
{% endfor %}
</ul>
{% endwith %}
